@font-face {
    font-family: BlackHanSans;
    src: url(../font/BlackHanSans-Regular.ttf);
}
@font-face {
    font-family: notosans;
    src: url(../font/NotoSansKR-Regular.otf);
}

*::-webkit-scrollbar{
	display:none;
}

#fullpage{
	overflow-y:scroll;
}

*{
	outline:none;
	border:none;
	box-sizing:border-box;
	margin:0px;
	padding:0px;
	font-family:notosans;
	font-size:10px;
}
.touchable{
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}
ul,li{
	margin:0px;
	padding:0px;
	text-decoration:none;
}

input:focus {
    outline: none;
}
textarea:focus {
    outline: none;
}
select option{
	background-color:white !imporant;
}

#main_logo_wrapper{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  position: absolute;
  display: flex;
  padding:100px 0px !important;
}

#main_logo{
	position:relative;
	width: 140px;
	height: auto;
	margin: auto !important;
	padding:10px !important;
}

.main_description_highlight{
	color:#ee3f5c;
	font-size:15px;
	font-weight:900;
}

#menu_bar{
	width:100%;
	height:40px;
	position:fixed;
	bottom:0px;
	display:flex;
	flex-direction:row;
	border-top:2px solid #dadada;
}

.menu{
	height:40px;
	margin:auto !important;
	flex:1;
	position:relative;
	padding:10px !important;
	background-color:#ECECEC;
}

.menu > p{
	position:absolute;
	top:-80%;
	left:50%;
	transform:translate(-50%,0%);
	text-align:center;
	padding:5px !important;
	background-color:#06d6a0;
	color:white;
	border-radius:5px;
	display:none;
}

.menu:hover > img{
	filter: grayscale(0%);
}

.menu:hover > p{
	display:block;
}

.menu_image{
	position:absolute;
	width:25px;
	height:25px;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	filter: grayscale(100%);
}

.menu_text{
	position:absolute;
	bottom:0px;
	width:100%;
	text-align:center;
	color:white;
	left:50%;
	transform:translate(-50%,0%);
}








#user_info{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

#user_info *{
	font-family:BlackHanSans;
	color:white;
	font-size:40px;
}

#loginForm_button,#logout_button, #joinForm_button{
	display:block;
	position:fixed;
	width:60px;
	height:30px;
	z-index:400;
	color:white;
	text-align:center;
	line-height:30px;
	border-radius:5px;
	font-size:10px;
	transition:0.3s;
	z-index:300;
}
#loginForm_button{
	background-color:#06d6a0;
	bottom:10px;
	right:10px;
}
#joinForm_button{
	background-color:#06d6a0;
	bottom:10px;
	right:80px;
}
#logout_button{
	background-color:#ee3f5c;
	bottom:10px;
	right:10px;
}
#loginForm_button:hover,#joinForm_button:hover{
	background-color:#02bb8b;
}
#logout_button:hover{
	background-color:#c7324a;
}

#loginForm{
	border-radius:5px;
	overflow:hidden;
	position:relative;
	display:block;
	width:300px;
	background-color:#f4f4f4;
	z-index:1300;
	margin:auto;
	padding:10px;
}

#loginFormInnerBox{
	display:flex;
	flex-direction:column;
	width:100%;
}

#joinForm, #infoForm{
	border-radius:5px;
	overflow:hidden;
	position:relative;
	display:block;
	width:300px;
	background-color:#f4f4f4;
	z-index:1300;
	margin:auto;
	padding:10px;
}

#joinFormInnerBox, #infoFormInnerBox{
	display:flex;
	flex-direction:column;
	width:100%;
}


#alert_cover{
	padding:20px 0px;
	display:flex;
	position:fixed;
	z-index:1500;
	width:100%;
	height:100%;
	background: rgba(0,0,0,0.2);
	overflow:auto;
}


#alert_box{
	display:flex;
	flex-direction:column;
	margin:auto;
	background-color:#f4f4f4;
	border-radius:5px;
	padding:10px;
}

#alert_message{
	text-align:center;
}



#form_cover{
	padding:20px 0px;
	display:flex;
	position:fixed;
	z-index:1200;
	width:100%;
	height:100%;
	background: rgba(0,0,0,0.2);
	overflow:auto;
}
#loginForm .subtitle, #joinForm .subtitle{
	text-indent:10px;
}
#loginForm #user_id,#loginForm #user_pw{
	display:block;
	width:100%;
	height:40px;
	text-indent:20px;
	line-height:40px;
	background-color:#FFFFFF;
	color:black;
	border:2px solid #FFFFFF;
	transition:0.3s;
}
#loginForm #user_id{
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
#loginForm #user_pw{
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	margin-bottom:10px;
}
#loginForm #error_message{
	width:100%;
	line-height:20px;
	color:#ee3f5c;
	transition:0.3s;
	word-wrap:break-word;
	padding:0px 5px;
	font-size:8px;
	text-align:center;
}


#loginForm #user_id:focus, #loginForm #user_pw:focus{
	border:2px solid #06d6a0;
	text-indent:30px;
}



#login_button{
	display:block;
	height:40px;
	z-index:400;
	color:gray;
	text-align:center;
	line-height:40px;
	border-radius:5px;
	font-size:10px;
	transition:0.3s;
	margin-top:10px;
	font-weight:900;
	background-color:#f4f4f4;
}

#login_button:hover{
	color:#06d6a0;
}






#joinForm #user_id,
#joinForm #user_pw, 
#joinForm #user_pw_check, 
#joinForm #user_name, 
#joinForm #user_email, 
#joinForm #question_id, 
#joinForm #question_answer,
#infoForm #user_id,
#infoForm #user_pw, 
#infoForm #user_pw_check, 
#infoForm #user_name, 
#infoForm #user_email, 
#infoForm #question_id, 
#infoForm #question_answer,
#infoForm #old_question_id,
#infoForm #old_question_answer{
	width:100%;
	height:40px;
	text-indent:20px;
	line-height:40px;
	border : 2px solid #FFFFFF;
	background-color:#FFFFFF;
	color:black;
	transition:0.3s;
}

#joinForm #error_message, 
#infoForm #error_message{
	width:100%;
	line-height:20px;
	color:#ee3f5c;
	transition:0.3s;
	word-wrap:break-word;
	padding:0px 5px;
	font-size:8px;
	text-align:center;
}

#joinForm #user_id, 
#joinForm #user_name, 
#joinForm #question_id,
#infoForm #user_id, 
#infoForm #user_name, 
#infoForm #question_id,
#infoForm #old_question_id{
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}

#joinForm #user_pw_check, 
#joinForm #user_email, 
#joinForm #question_answer,
#infoForm #user_pw_check, 
#infoForm #user_email, 
#infoForm #question_answer,
#infoForm #old_question_answer{
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	margin-bottom:10px;
}

#joinForm #user_id:focus,
#joinForm #user_pw:focus, 
#joinForm #user_pw_check:focus, 
#joinForm #user_name:focus, 
#joinForm #user_email:focus, 
#joinForm #question_id:focus, 
#joinForm #question_answer:focus,
#infoForm #user_id:focus,
#infoForm #user_pw:focus, 
#infoForm #user_pw_check:focus, 
#infoForm #user_name:focus, 
#infoForm #user_email:focus, 
#infoForm #question_id:focus, 
#infoForm #question_answer:focus,
#infoForm #old_question_id:focus,
#infoForm #old_question_answer:focus{
	border : 2px solid #06d6a0;
	text-indent : 30px;
}



#join_button,#update_button,#update_cancel_button,#update_start_button{
	display:block;
	height:40px;
	z-index:400;
	color:gray;
	text-align:center;
	line-height:40px;
	font-size:10px;
	transition:0.3s;
	margin-top:10px;
	font-weight:900;
	background-color:#f4f4f4;
}

#join_button:hover, #update_button:hover,#update_cancel_button:hover,#update_start_button:hover{

}

.wrong{
	border:2px solid #ee3f5c !important;
	color:#ee3f5c !important;
}
.wrong:focus{
	border:2px solid #ee3f5c !important;
	color:#ee3f5c !important;
}

#update_button, #update_cancel_button{
	flex:1;
	display:none;
}

#update_cancel_button:hover{
	color:#ee3f5c;
}

#update_start_button:hover, #update_button:hover, #join_button:hover{
	color:#06d6a0;
}

input[type=radio]{
	display:none;
}
input[type=radio]:checked + label{
	font-weight:900;
	color:#6c63ff;
}
input[type=radio] + label{
	display:block;
}
input[type=radio]:not(:checked) + label:hover{
	font-weight:900;
	color:#6c63ff;
}

#card_borad_wrapper{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  position: absolute;
  display: flex;
  padding:100px 0px !important;
}

#card_board{
	position:relative;
	width: 240px;
	height: 240px;
	margin: auto !important;
}

.card{
	width: 100px;
	height: 100px;
	border-radius:5px;
	position:relative;
	padding:5px;
	position:absolute;
	transition:0.3s;
	border:2px solid white;
	background-color:white;
}

.card:hover{
	border:2px solid #06d6a0;
}

.card p{
	color:#06d6a0;
	font-size:10px;
	display:block;
	position:absolute;
	bottom:-20%;
	width:100%;
	height:40px;
	text-align:center;
	font-weight:900;
}

.card img{
	width:70%;
	height:70%;
	display:block;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

.description{
	width:150px;
	height:50px;
	line-height:25px;
	display:block;
	position:absolute;
	top:50%;
	left:95%;
	display:block;
	text-align:center;
	font-size:10px;
	transform:translate(-95%,-50%);
}

.intro_box{
	width:300px;
	height:300px;
	position:absolute;
	transform:translate(-50%,-50%);
	top:50%;
	left:50%;
}



























.problem{
	border-radius:5px;
	background-color:white;
	padding:20px;
	margin-top:20px;
	margin-bottom:20px;
	width:100%;
}


#problems{
	margin:0px auto !important;
	width:100%;
	max-width:800px;
	min-width:270px;
	overflow-y:scroll;
	display:flex;
	flex-direction:column;
}

.problem_content{
	margin: 10px 0 30px 0px;
	font-size:12px;
	font-weight:900;
}
.choices{
	margin: 10px 0px;
}
.choice{
	margin: 20px 0px;
}

.problem_image{
	margin: 10px 0px;
	max-width:90%;
}
#problem_div{
	margin:0 auto !important;
	padding:100px 0px !important;
	width:80%;
	max-width:1500px;
	min-width:270px;
	min-height:80px;
}
#problem_form{
	margin:0px auto !important;
	max-width:800px;
	min-width:270px;
	width:100%;
	display:flex;
	flex-direction:row;
	padding:50px 0px;
}
#category_id{
	flex:1;
	height:40px;
	border-radius:5px;
	text-indent:20px;
}
#get_problems_button{
	width:60px;
	height:40px;
	text-align:center;
	line-height:40px;
	color:gray;
}
#get_problems_button:hover{
	color:#ee3f5c;
}

#score_problems_button{
	margin: 50px auto 0px auto;
	width:200px;
	height:40px;
	color:white;
	line-height:40px;
	text-align:center;
	color:gray;
}

#score_problems_button:hover{
	color:#ee3f5c;
}

.close_opinion_button{
	display:none;
}

.opinions_form{
	display:none;
}

.opinion{
	margin:10px 0px;
	display:flex;
	flex-direction:column;
	padding:10px;
}

.opinion_content{
	margin-top:10px;
	resize: none;
	border-radius:5px;
}
.opinion_user{
	font-weight:900;
}
.opinion_date{
	color:gray;
}
.opinion_edit_complete_button{
	display:none;
}
.opinion_edit_cancel_button{
	display:none;
}

.close_opinion_button,.open_opinion_button{
	margin-top:50px;
	text-align:center;
	color:gray;
	border-radius:5px;
	height:20px;
	line-height:20px;
}

.close_opinion_button:hover,.open_opinion_button:hover{
	color:#ee3f5c;
}
.opinion_edit_button, .opinion_edit_cancel_button, .opinion_edit_complete_button, .opinion_delete_button{
	margin-left:20px;
	color:gray;
}
.opinion_edit_button:hover, .opinion_edit_cancel_button:hover, .opinion_edit_complete_button:hover, .opinion_delete_button:hover{
	color:#ee3f5c;
}

.opinion_edit_form{
	display:flex;
	flex-direction:row-reverse;
	
}

.opinion_search_form{
	display:flex;
	flex-direction:row;
	padding:10px;
	border-top:0.1px solid gray;
}

.opinion_input{
	flex:1;
	border:2px solid white !important;
	display:block;
	resize: none;
	border-radius:5px;
	height:40px;
}

.opinion_write_button{
	line-height:40px;
	text-align:center;
	width:60px;
	color:gray;
	margin-left:20px;
	height:40px;
}
.opinion_write_button:hover{
	color:#ee3f5c;
}
.pagebar{
	margin-top:20px;
	display:flex;
	flex-direction:row;
	justify-content: center;
}
.pagebar > a{
	display:block;
	width: 30px;
	height: 20px;
	text-align:center;
	font-weight:900;
}
.pagebar > a:hover{
	color:#ee3f5c;
}
.viewd{
	color:#ee3f5c;
}

























/*article 관련 CSS*/
#article_form_wrapper{
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
	position: absolute;
	display: flex;
	padding:100px 0px !important;
}

#list_article_form{
	display:flex;
	flex-direction:column;
	width:80%;
	max-width:800px;
	margin:auto !important;
	padding:20px 0px !important;
}


#article_search_panel{
	display:flex;
	flex-direction:row;
	height:40px;
	line-height:40px;
	margin-bottom: 50px !important;
}

#search_flag{
	width:80px;
	height:100%;
	line-height:40px;
	text-align:center;
	border-top-left-radius:5px !important;
	border-bottom-left-radius:5px !important;
}

#search_content{
	flex:1;
	padding:0px 20px !important;
	line-height:40px;
	border-top-right-radius:5px !important;
	border-bottom-right-radius:5px !important;
	text-overflow: ellipsis;
}

#search_article_button{
	width:80px;
	height:100%;
	line-height:40px;
	text-align:center;
	color:gray;
}

#search_article_button:hover{
	color:#ee3f5c;
}


#add_article_button{
	text-align:center;
	height:40px;
	line-height:40px;
	color:gray;
}

#add_article_button:hover{
	color:#ee3f5c;
}


#list_article_button{
	margin:50px 0px 0px 0px !important;
	text-align:center;
	height:40px;
	line-height:40px;
	color:gray;
}

#list_article_button:hover{
	color:#ee3f5c;
}

#add_article_form{
	display:none;
	flex-direction:column;
	width:80%;
	max-width:600px;
	margin:auto !important;
	overflow-y:scroll;
}



#article_title{
	padding:10px !important;
	height:40px;
	line-height:20px;
	border-radius:5px !important;
	margin-bottom:40px !important;
}

#article_content{
	resize: none;
	padding:20px !important;
	border-radius:5px !important;
	margin-bottom:40px !important;
	overflow-y:hidden;
}


.subtitle{
	margin:10px 0px !important;
}

#article_list{
	display:flex;
	flex-direction:column;
	margin-bottom:30px !important;
}

#article_header{
	display:flex;
	flex-direction:row;
	height:40px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	overflow:hidden;
}
#article_header > div{
	line-height:40px;
	color:black;
	font-weight:900;
}
#article_header > div:hover{
	color:#ee3f5c;
}

#article_header > div:nth-of-type(1){
	flex:1;
	text-indent:20px;
	text-align:left;
	text-overflow: ellipsis;
}

#article_header > div:nth-of-type(2){
	width:80px;
	text-align:center;
}

#article_header > div:nth-of-type(3){
	width:90px;
	text-align:center;
}

#article_header > div:nth-of-type(4){
	width:40px;
	text-align:center;
}


.article_header{
	display:flex;
	flex-direction:row;
	background-color:white;
	height:40px;
}

.article_header:hover{
	background-color:#f2f2f2;
}

.article_header > div{
	line-height:40px;
}

.article_header > input:nth-of-type(1){
	flex:1;
	text-indent:20px;
	text-align:left;
	display:block;
	background:none;
}




.article_header > div:nth-of-type(1){
	width:80px;
	text-align:center;
}

.article_header > *:nth-of-type(2){
	width:90px;
	text-align:center;
	white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

.article_header > *:nth-of-type(3){
	width:40px;
	text-align:center;
	white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}


.article_wrapper{
	display:flex;
	flex-direction:column;
	overflow:hidden;
	border-top:1px solid gray;
}


#article_list > div:nth-last-of-type(2){
	border-top:1px solid gray;
	border-bottom:1px solid gray;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	overflow:hidden;
}

.article_body{
	display:none;
}

.article_content{
	resize:none;
	padding:20px;
	overflow-y:hidden;
	width:100%;
	display:block;
	border-top:1px dashed #ECECEC;
}

.article_content:hover{
	background-color:#f2f2f2;
}











#article_images{
	width:100%;
	display:flex;
	flex-wrap : wrap;
	background-color:white;
	border-radius:5px;
}

#article_images_add_button{
	width:70px;
	height:30px;
	margin-top:10px !important;
	border-radius:5px;
	text-align:center;
	color:white;
	line-height:30px;
	background-color:#a6a6a6;
	display:block;
}

#article_images_add_button:hover{
	background-color:#dadada;
}
.article_images{
	display:none;
	flex-direction:row;
	background-color:white;
	overflow:scroll;
	flex-wrap: nowrap;
	border-top:1px dashed #ECECEC;
}

.article_images:hover{
	background-color:#f2f2f2;
}
.article_image{
	width:75px;
	height:75px;
	position:relative;
	display:block;
	flex: 0 0 auto;
}
.article_image > img{
	max-width:100%;
	max-height:100%;
	display:block;
	position:relative;
}
.article_image_delete_button{
	position:absolute;
	top:0%;
	z-index:400;
	width:20px;
	height:20px;
	text-align:center;
	line-height:20px;
	color:#ee3f5c;
	font-weight:900;
	font-size:12px;
}

#send_article_button{
	display:block;
	width:100%;
	height:40px;
	text-align:center;
	color:white;
	background-color:#06d6a0;
	border-radius:5px;
	line-height:40px;
	margin-top:50px !important;
}
#send_article_button:hover{
	background-color:#04a379;
}

.confirm_article_button, .cancel_article_button,.add_article_image_input,.add_article_image_label{
	display:none;
}

.article_edit_panel{
	padding:10px 0px !important;
	display:none;
	flex-direction:row-reverse;
	background-color:white;
	border-top:1px dashed #ECECEC;
}
.article_edit_panel:hover{
	background-color:#F2F2F2;
}
.article_edit_panel > div, .article_edit_panel > label{
	padding:5px 10px !important;
	color:gray;
	text-align:center;
	margin:0px 10px;
	border-radius:5px;
}
 .article_edit_panel > label{
 	display:none;
 }
.article_edit_panel > div:hover, .article_edit_panel > label:hover{
	color:#ee3f5c;
}

.add_article_images_button{
	display:block;
}
.article_images_input{
	display:none;
}





































/*튜토리얼*/
#tutorial_cover{
	position:fixed;
	display:block;
	background: rgb(0,0,0,0.2);
	width:100%;
	height:100%;
	z-index:2000;
}

#menu_bar_highlight{
	width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    border: 2px solid #ee3f5c;
    z-index:2500;
}

#tutorial_description{
    position: fixed;
    display:block;
    background-color:white;
    padding:10px;
    border-radius:5px;
    text-align:center;
}

#hnav_highlight{
	left: 50%;
	width: 15px;
    height: 15px;
    position: fixed;
    bottom: 10px;
    border: 2px solid #ee3f5c;
    z-index:2500;
    transform: translate(-50%, 0%);
    border-radius:5px;
}
#vnav_highlight{
	top:50%;
	width: 15px;
    height: 90px;
    position: fixed;
    right: 10px;
    border: 2px solid #ee3f5c;
    z-index:2500;
    transform: translate(-50%, 0%);
    border-radius:5px;
}

.tutorial_description_highlight{
	color:#ee3f5c;
}

#tutorial_disable_button{
	top:65%;
	left: 50%;
	transform: translate(-50%, -65%);
	position: fixed;
    z-index:2500;
    border-radius:5px;
    padding:10px;
    font-weight:900;
    transition:0.2s;
    text-align:center;
}
#tutorial_disable_button:hover{
    color:#ee3f5c;
}