#blancetnoir{
	position:fixed;
	top:99%;
	left:1%;
	transform:translate(-1%,-99%);
	z-index:500;
}
#blancetnoir span{
	font-size:8px;
}
@font-face {
    font-family: BlackHanSans;
    src: url(../font/BlackHanSans-Regular.ttf);
}
@font-face {
    font-family: notosans;
    src: url(../font/NotoSansKR-Regular.otf);
}

*::-webkit-scrollbar{
	display:none;
}

*{
	outline:none;
	border:none;
	box-sizing:border-box;
	margin:0px;
	padding:0px;
	font-family:notosans;
	font-size:10px;
}
.touchable{
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}
ul,li{
	margin:0px;
	padding:0px;
	text-decoration:none;
}

input:focus {
    outline: none;
}
textarea:focus {
    outline: none;
}


#user_info{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

#user_info *{
	font-family:BlackHanSans;
	color:white;
	font-size:40px;
}

#loginForm_button,#logout_button, #joinForm_button{
	display:block;
	position:fixed;
	width:60px;
	height:30px;
	z-index:400;
	color:white;
	text-align:center;
	line-height:30px;
	border-radius:5px;
	font-size:10px;
	transition:0.3s;
}
#loginForm_button{
	background-color:#06d6a0;
	bottom:10px;
	right:10px;
}
#joinForm_button{
	background-color:#06d6a0;
	bottom:10px;
	right:80px;
}
#logout_button{
	background-color:#ee3f5c;
	bottom:10px;
	right:10px;
}
#loginForm_button:hover,#joinForm_button:hover{
	background-color:#02bb8b;
}
#logout_button:hover{
	background-color:#c7324a;
}

#article_form{
	display:block;
	position:absolute;
	width:350px;
	height:400px;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

#article_title{
	display:block;
	position:absolute;
	width:300px;
	height:40px;
	top:10%;
	left:50%;
	transform:translate(-50%,-10%);
	background-color:white;
	border-radius:5px;
	padding:10px !important;
	font-family:notosans;
	font-size:12px;
}

#article_content{
	display:block;
	position:absolute;
	width:300px;
	height:200px;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	background-color:white;
	border-radius:5px;
	padding:10px !important;;
	resize: none;
	font-family:notosans;
	font-size:12px;
}

#article_write_button{
	display:block;
	position:absolute;
	width:300px;
	height:40px;
	top:90%;
	left:50%;
	transform:translate(-50%,-90%);
	background-color:#04a379;
	border-radius:5px;
	text-align:center;
	line-height:40px;
	color:white;
}
#article_write_button:hover{
	background-color:#018865;
}




#article_list_form{
	position:absolute;
	width:450px;
	height:400px;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	border-radius:5px;
}

#article_list_panel{
	width:400px;
	height:40px;
	position:absolute;
	top:10%;
	left:50%;
	transform:translate(-50%,-10%);
	display:flex;
	border-radius:5px;
	overflow:hidden;
}
#search_flag{
	display:block;
	width:60px;
	text-align:center;
}
#article_search{
	display:block;
	flex:1;
	text-indent:20px;
}
#article_search_button{
	display:block;
	width:60px;
	color:white;
	background-color:#e5bb5a;
}
#article_search_button:hover{
	background-color:#cca751;
}

#article_list_header{
	width:400px;
	height:30px;
	position:absolute;
	top:25%;
	left:50%;
	transform:translate(-50%,-25%);
	display:flex;
	border-radius:5px;
	overflow:hidden;
}

#id{
	display:block;
	width:60px;
	text-align:center;
	background-color:#e5bb5a;
	color:white;
	line-height:30px;
}
#title{
	display:block;
	flex:1;
	text-indent:20px;
	background-color:#e5bb5a;
	color:white;
	line-height:30px;
}
#date{
	display:block;
	width:120px;
	text-align:center;
	background-color:#e5bb5a;
	color:white;
	line-height:30px;
}
#id:hover,#title:hover,#date:hover{
	background-color:#cca751;
}


#article_list{
	width:400px;
	height:240px;
	position:absolute;
	top:80%;
	left:50%;
	transform:translate(-50%,-80%);
	border-radius:5px;
	overflow-y:scroll;
}

.article{
	display:flex;
	width:100%;
	height:40px;
	background-color:white;
}
.article:hover{
	background-color:#e1e1e1;
}
.user_id{
	width:60px;
	text-align:center;
	line-height:40px;
}
.article_title{
	flex:1;
	text-indent:20px;
	line-height:40px;
}
.article_date{
	width:120px;
	text-align:center;
	line-height:20px;
}


#loginForm{
	border-radius:5px;
	overflow:hidden;
	position:fixed;
	display:block;
	width:300px;
	height:200px;
	background-color:#f4f4f4;
	z-index:700;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	padding:10px;
}

#loginFormInnerBox{
	display:flex;
	flex-direction:column;
	width:100%;
	height:140px;
}

#joinForm{
	border-radius:5px;
	overflow:hidden;
	position:fixed;
	display:block;
	width:300px;
	height:440px;
	background-color:#f4f4f4;
	z-index:700;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	padding:10px;
}

#joinFormInnerBox{
	display:flex;
	flex-direction:column;
	width:100%;
	height:400px;
}


#alert_cover{
	position:fixed;
	z-index:1000;
	width:100%;
	height:100%;
	display:none;
	opacity:0.5;
	background-color:black;
}
#form_cover{
	position:fixed;
	z-index:500;
	width:100%;
	height:100%;
	display:none;
	opacity:0.5;
	background-color:black;
}
#loginForm #user_id,#loginForm #user_pw{
	display:block;
	width:100%;
	height:40px;
	text-indent:20px;
	line-height:40px;
	background-color:#FFFFFF;
	color:black;
	border:2px solid #FFFFFF;
	transition:0.3s;
}
#loginForm #user_id{
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
#loginForm #user_pw{
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	margin-bottom:10px;
}
#loginForm #error_message{
	width:100%;
	height:50px;
	line-height:20px;
	color:#ee3f5c;
	transition:0.3s;
	margin-bottom:10px;
	word-wrap:break-word;
	padding:5px;
	font-size:8px;
	text-align:center;
}


#loginForm #user_id:focus, #loginForm #user_pw:focus{
	border:2px solid #06d6a0;
	text-indent:30px;
}


#loginFormPanel{
	display:flex;
	width:100%;
	height:40px;
}




#login_button, #loginFormClose_button{
	display:block;
	height:40px;
	z-index:400;
	color:white;
	text-align:center;
	line-height:40px;
	border-radius:5px;
	font-size:12px;
	transition:0.3s;
}

#login_button{
	background-color:#06d6a0;
	margin-right:10px;
	width:70%;
}
#loginFormClose_button{
	background-color:#ee3f5c;
	flex:1;
}

#login_button:hover{
	background-color:#02bb8b;
}
#loginFormClose_button:hover{
	background-color:#c7324a;
}






#joinForm #user_id,#joinForm #user_pw, #joinForm #user_pw_check, #joinForm #user_name, #joinForm #user_email, #joinForm #question_id, #joinForm #question_answer{
	width:100%;
	height:40px;
	text-indent:20px;
	line-height:40px;
	border : 2px solid #FFFFFF;
	background-color:#FFFFFF;
	color:black;
	transition:0.3s;
}

#joinForm #error_message{
	width:100%;
	height:50px;
	line-height:20px;
	color:#ee3f5c;
	transition:0.3s;
	margin-bottom:10px;
	word-wrap:break-word;
	padding:5px;
	font-size:8px;
	text-align:center;
}

#joinForm #user_id, #joinForm #user_name, #joinForm #question_id{
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}

#joinForm #user_pw_check, #joinForm #user_email, #joinForm #question_answer{
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	margin-bottom:10px;
}

#joinForm #user_id:focus,#joinForm #user_pw:focus, #joinForm #user_pw_check:focus, #joinForm #user_name:focus, #joinForm #user_email:focus, #joinForm #question_id:focus, #joinForm #question_answer:focus{
	border : 2px solid #06d6a0;
	text-indent : 30px;
}



#join_button, #joinFormClose_button{
	display:block;
	position:absolute;
	height:40px;
	z-index:400;
	color:white;
	text-align:center;
	line-height:40px;
	border-radius:5px;
	font-size:12px;
	transition:0.3s;
}
#join_button{
	background-color:#06d6a0;
	width:200px;
	top:97%;
	left:10%;
	transform:translate(-10%,-97%);
}
#joinFormClose_button{
	width:70px;
	top:97%;
	left:96%;
	transform:translate(-96%,-97%);
	background-color:#ee3f5c;
}
#join_button:hover{
	background-color:#02bb8b;
}
#joinFormClose_button:hover{
	background-color:#c7324a;
}

.wrong{
	border:2px solid #ee3f5c !important;
	color:#ee3f5c !important;
}
.wrong:focus{
	border:2px solid #ee3f5c !important;
	color:#ee3f5c !important;
}




input[type=radio]{
	display:none;
}
input[type=radio]:checked + label{
	font-weight:900;
	color:#007aff;
}
input[type=radio] + label{
	display:block;
}
input[type=radio]:not(:checked) + label:hover{
	font-weight:900;
	color:#007aff;
}

#card_board{
	width: 290px;
	height: 290px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

.card{
	width: 100px;
	height: 100px;
	background-color:#06d6a0;
	border-radius:5px;
	position:relative;
	padding:5px;
	position:absolute;
	transition:0.3s;
}
.card:hover{
	background-color:white;
}
.card:hover p{
	color:#06d6a0;
}
.card img{
	width:70%;
	height:70%;
	display:block;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.card p{
	font-weight:900;
	font-size:10px;
	display:block;
	position:absolute;
	color:white;
	bottom:-20%;
	width:100%;
	height:40px;
	text-align:center;
}

.description{
	width:150px;
	height:50px;
	line-height:25px;
	display:block;
	position:absolute;
	top:50%;
	left:95%;
	display:block;
	text-align:center;
	font-size:10px;
	transform:translate(-95%,-50%);
}

.intro_box{
	width:300px;
	height:300px;
	position:absolute;
	transform:translate(-50%,-50%);
	top:50%;
	left:50%;
}



























.problem{
	border-radius:5px;
	background-color:white;
	padding:20px;
	margin-top:20px;
	margin-bottom:20px;
	width:100%;
}


#problems{
	margin:0px auto !important;
	width:90%;
	height:80%;
	max-width:1200px;
	min-width:270px;
	min-height:80px;
	overflow-y:scroll;
	display:flex;
	flex-direction:column;
}

.problem_content{
	margin: 10px 0 30px 0px;
	font-size:12px;
	font-weight:900;
}
.choices{
	margin: 10px 0px;
}
.choice{
	margin: 20px 0px;
}

.problem_image{
	margin: 10px 0px;
	max-width:250px;
}
#problem_div{
	margin:0px auto !important;
	width:70%;
	max-width:1500px;
	min-width:270px;
	min-height:80px;
}
#problem_form{
	margin:20px auto !important;
	max-width:1200px;
	min-width:270px;
	width:90%;
	display:flex;
	flex-direction:row;
}
#category_id{
	flex:1;
	height:40px;
	border-radius:5px;
	text-indent:20px;
}
#get_problems_button{
	width:60px;
	height:40px;
	background-color:#06d6a0;
	text-align:center;
	color:white;
	line-height:40px;
	border-radius:5px;
}
#get_problems_button:hover{
	background-color:#02bb8b;
}

#score_problems_button{
	margin: 20px auto;
	width:90px;
	height:40px;
	color:white;
	line-height:40px;
	text-align:center;
	background-color:#06d6a0;
	border-radius:5px;
}

#score_problems_button:hover{
	background-color:#02bb8b;
}

.close_opinion_button{
	display:none;
}

.opinions_form{
	display:none;
}

.opinion{
	margin:10px 0px;
	display:flex;
	flex-direction:column;
	padding:10px;
}

.opinion_content{
	margin-top:10px;
	resize: none;
	border-radius:5px;
}
.opinion_user{
	font-weight:900;
}
.opinion_date{
	color:gray;
}
.opinion_edit_complete_button{
	display:none;
}
.opinion_edit_cancel_button{
	display:none;
}

.close_opinion_button,.open_opinion_button{
	margin-top:50px;
	text-align:center;
	color:gray;
	border-radius:5px;
	height:20px;
	line-height:20px;
}

.close_opinion_button:hover,.open_opinion_button:hover{
	color:#ee3f5c;
}
.opinion_edit_button, .opinion_edit_cancel_button, .opinion_edit_complete_button, .opinion_delete_button{
	margin-left:20px;
	color:gray;
}
.opinion_edit_button:hover, .opinion_edit_cancel_button:hover, .opinion_edit_complete_button:hover, .opinion_delete_button:hover{
	color:#ee3f5c;
}

.opinion_edit_form{
	display:flex;
	flex-direction:row-reverse;
	
}

.opinion_search_form{
	display:flex;
	flex-direction:row;
	padding:10px;
	border-top:0.1px solid gray;
}

.opinion_input{
	flex:1;
	border:2px solid white !important;
	display:block;
	resize: none;
	border-radius:5px;
	height:40px;
}

.opinion_write_button{
	line-height:40px;
	text-align:center;
	width:60px;
	color:gray;
	margin-left:20px;
	height:40px;
}
.opinion_write_button:hover{
	color:#ee3f5c;
}
.pagebar{
	margin-top:20px;
	display:flex;
	flex-direction:row;
	justify-content: center;
}
.pagebar > a{
	display:block;
	width: 30px;
	height: 20px;
	text-align:center;
	font-weight:900;
}
.pagebar > a:hover{
	color:#ee3f5c;
}
.viewd{
	color:#ee3f5c;
}